body {
    padding: 40px;
}
div {
    text-align: center;
    width: 500px;
}
table {
    background-color: #C8E6C9;
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #000;
}
td {
    text-align: left;
}
.cols-two-and-three {
    background-color: yellow;
    border: 3px solid green;
}