body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4E342E;
    padding: 30px;
}
h2 {
    margin-bottom: 40px;
}
table {
    background-color: #EFEBE9;
    border: 1px solid #4E342E;
    padding: 5px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #D7CCC8;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #D7CCC8;
}